@model IList<Mvc.Models.ListItem>

<div class="list paging-list" data-bind="alias: [{name: 'sortRule', data: $root.sortRule}, {name: 'sortTypes', data: $root.sortTypes}]">
	<div class="list-body">
		<div class="list-item list-items-header">
			<div class="name">
				<span>String item</span>
				<!-- ko if: sortRule -->
				<div data-bind="visible: sortRule, sort: sortRule, sortType: sortTypes.byString, parentController: 'div'"></div>
				<!-- /ko -->
			</div>
			<div class="date">
				<span>Date item</span>
				<!-- ko if: sortRule -->
				<div data-bind="visible: sortRule, sort: sortRule, sortType: sortTypes.byDate, parentController: 'div'"></div>
				<!-- /ko -->
			</div>
			<div class="not-sort">
				<span>Not sortable</span>
			</div>
		</div>
		<!-- ko foreach: $data -->
		<div class="list-item">
			<div class="name" data-bind="text:stringItem"></div>
			<div class="date" data-bind="text:dateFormatted"></div>
			<div class="not-sort" data-bind="text:stringItem"></div>
		</div>
		<!-- /ko -->
	</div>
</div>
