@model IList<Mvc.Models.ListItem>

<div class="list paging-list" data-bind="alias: [{name: 'sortRule', data: $root.sortRule}, {name: 'sortTypes', data: $root.sortTypes}]">
	<div class="list-body">
		<div class="list-item list-items-header">
			<div class="name">
				<span>Domain</span>
				<!-- ko if: sortRule -->
				<div data-bind="visible: sortRule, tableSort: sortRule, sortType: sortTypes.byName, parentController: 'div'"></div>
				<!-- /ko -->
			</div>
			<div class="date">
				<span>Expires</span>
				<!-- ko if: sortRule -->
				<div data-bind="visible: sortRule, tableSort: sortRule, sortType: sortTypes.byExpireDate, parentController: 'div'"></div>
				<!-- /ko -->
			</div>
			<div class="date">
				<span>Created</span>
				<!-- ko if: sortRule -->
				<div data-bind="visible: sortRule, tableSort: sortRule, sortType: sortTypes.byCreatedDate, parentController: 'div'"></div>
				<!-- /ko -->
			</div>
			@*<div class="date">
					<span>Updated</span>
					<!-- ko if: sortRule -->
					<div data-bind="visible: sortRule, tableSort: sortRule, sortType: sortTypes.byUpdatedDate, parentController: 'div'"></div>
					<!-- /ko -->
				</div>*@
			<div class="status">Status</div>
			<div class="actions"></div>
		</div>
		<!-- ko foreach: $data -->
		<div class="list-item list-item-body">
			<div class="name"><a href="#" target="_blank" data-bind="text:name, attr:{href:domainUrl}"></a><i class="icon icon-ex-link"></i></div>
			<div class="date" data-bind="text:expirationDate"></div>
			<div class="date" data-bind="text:createdDate"></div>
			@*<div class="date" data-bind="text:updatedDate"></div>*@
			<div class="status">Active</div>
			<div class="actions">
				<input type="button" class="btn btn-primary" value="Manage" />
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
